body,html{
	margin: 0;
	min-height: 100vh;
	background-color: whitesmoke;
}
.content{
	padding: 15px;
	margin: auto;
	background-color: white;
	width: 100%;
	max-width: 400px;
}
.forms{
	min-height: 100vh;
	background: linear-gradient(to left, #3ffbfa, #6bc1f7);
}
#register{
	display: none;
}
label{
	margin-bottom: 0;
}
.form-control{
	margin-bottom: 10px;
}


/*REAGAN START*/

body 
{
	margin: 0;
	padding: 0;
}


.header-search 
{

	height: 500px;
	background-image: linear-gradient(rgba(0,0,0,0.5)), url("header.jpg") !important;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

h1 
{
	color: white;
	margin-bottom: 20px;
	font-size: 35px;
	letter-spacing: 1px;
	text-align: center;

}

h5
{
	color:	black;
	font-weight: 600;
}

.search-field 
{
	height: 20px;
	padding: 10px;
	/*border: none;*/
	border-radius: 30px;
	/*outline: none;*/
	box-sizing: unset;
}

.job-field
{
	width: 600px;
}



.search-btn
{
	height: 50px;
	width: 150px;
	background: #ffeb3b;
	border: none;
	color: #000;
	border-radius: 25px;
}

.search-btn:hover
{
	background: #ffc107;
	cursor: pointer;
}

.form-box
{
	background: rgba(0,0,0,0.5);
	padding: 10px;
}


.browse-by-skill
{
	/*position: relative;*/
	/*height: 800px;*/
}

.browse-by-company
{
	/*height: 400px;*/

}

h4
{
	text-align: center;
	font-size: 30px;
}

.development
{
	width: 250px;
	height: 300px;
	background-color: red;
	margin-left: 50px;
	float: left;
	text-align: center;
}

.marketing
{
	width: 250px;
	height: 300px;
	background-color: red;
	margin-left: 60px;
	float: left;
	text-align: center;
}

.design-multimedia
{
	width: 250px;
	height: 300px;
	background-color: red;
	margin-left: 60px;
	float: left;
	text-align: center;
}

.writing-content
{
	width: 250px;
	height: 300px;
	background-color: red;
	margin-left: 60px;
	float: left;
	text-align: center;
}

.database-it
{
	width: 250px;
	height: 300px;
	background-color: red;
	margin-left: 50px;
	margin-top: 10px;
	float: left;
	text-align: center;
}

.admin
{
	width: 250px;
	height: 300px;
	background-color: red;
	margin-left: 60px;
	margin-top: 10px;
	float: left;
	text-align: center;
}

.consulting
{
	width: 250px;
	height: 300px;
	background-color: red;
	margin-left: 60px;
	margin-top: 10px;
	float: left;
	text-align: center;
}

.list-unstyled
{
	list-style: none;
	text-align: center;
	/*display: flex;*/
	flex-direction: column;
}

.list-unstyled>li
{
	margin-top:	3px;
	margin-bottom: 3px;
}


.view-all-skills:hover
{	
	background: #ffc107;
	cursor: pointer;
}


.fa {
  padding: 2px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: none;
  color: black;
}

.fa-twitter {
  background: none;
  color: black;
}

.fa-linkedin {
  background: none;
  color: black;
}

/*REAGAN END*/