


.cont{
	min-height: 80vh;

}

#output{
	width: 130px;
	height: 120px;
	border-radius: 10px;
}

.input{
	padding:1px;
	width: 130px;
}

.button1 {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width:140px;;
  height:40px;
  border-radius: 10px;
}

.button1:hover {
  background-color: green;
}

.header{
	color:navy;
	text-align: center;
	background-color: #1affa3;
}


.header1{
  color:navy;
  text-align: center;
  background-color:#66ffe0;
  height: 50vw;
}

.header2{
  color:navy;
  text-align: center;
  background-color:#66b3ff;
}
.label{
  height: 10px;
 font-family: sans-serif;
 text-shadow: blue;
}

.cell{
  height: 60vw;
}












